[submodule "locobot_ws/src/interbotix_ros_rovers"]
	path = locobot_ws/src/interbotix_ros_rovers
	url = git@github.com:wellyowo/interbotix_ros_rovers.git
	branch = humble
[submodule "locobot_ws/src/kobuki"]
	path = locobot_ws/src/kobuki
	url = https://github.com/IntelligentRoboticsLabs/kobuki.git
	branch = humble
[submodule "locobot_ws/src/interbotix_ros_core"]
	path = locobot_ws/src/interbotix_ros_core
	url = https://github.com/Interbotix/interbotix_ros_core.git
	branch = humble
[submodule "locobot_ws/src/interbotix_ros_toolboxes"]
	path = locobot_ws/src/interbotix_ros_toolboxes
	url = https://github.com/Interbotix/interbotix_ros_toolboxes.git
	branch = humble
[submodule "locobot_ws/src/moveit_visual_tools"]
	path = locobot_ws/src/moveit_visual_tools
	url = https://github.com/ros-planning/moveit_visual_tools.git
	branch = ros2
[submodule "locobot_ws/src/ThirdParty/aws-robomaker-bookstore-world"]
	path = locobot_ws/src/ThirdParty/aws-robomaker-bookstore-world
	url = https://github.com/aws-robotics/aws-robomaker-bookstore-world.git
[submodule "locobot_ws/src/ThirdParty/aws-robomaker-racetrack-world"]
	path = locobot_ws/src/ThirdParty/aws-robomaker-racetrack-world
	url = https://github.com/jmguerreroh/aws-robomaker-racetrack-world.git
	branch = ros2
[submodule "locobot_ws/src/ThirdParty/aws-robomaker-small-house-world"]
	path = locobot_ws/src/ThirdParty/aws-robomaker-small-house-world
	url = https://github.com/aws-robotics/aws-robomaker-small-house-world.git
	branch = ros2
[submodule "locobot_ws/src/ThirdParty/aws-robomaker-small-warehouse-world"]
	path = locobot_ws/src/ThirdParty/aws-robomaker-small-warehouse-world
	url = https://github.com/aws-robotics/aws-robomaker-small-warehouse-world.git
	branch = ros2
[submodule "locobot_ws/src/ThirdParty/ecl/ecl_core"]
	path = locobot_ws/src/ThirdParty/ecl/ecl_core
	url = https://github.com/Juancams/ecl_core.git
	branch = devel
[submodule "locobot_ws/src/ThirdParty/ecl/ecl_lite"]
	path = locobot_ws/src/ThirdParty/ecl/ecl_lite
	url = https://github.com/stonier/ecl_lite.git
	branch = devel
[submodule "locobot_ws/src/ThirdParty/gazebo_plugins"]
	path = locobot_ws/src/ThirdParty/gazebo_plugins
	url = https://github.com/fmrico/gazebo_ros_pkgs.git
	branch = ros2_fix_depth
[submodule "locobot_ws/src/ThirdParty/kobuki_core"]
	path = locobot_ws/src/ThirdParty/kobuki_core
	url = https://github.com/kobuki-base/kobuki_core.git
	branch = release/1.3.x
[submodule "locobot_ws/src/ThirdParty/kobuki_ros"]
	path = locobot_ws/src/ThirdParty/kobuki_ros
	url = https://github.com/Juancams/kobuki_ros.git
	branch = humble-devel
[submodule "locobot_ws/src/ThirdParty/rplidar_ros"]
	path = locobot_ws/src/ThirdParty/rplidar_ros
	url = https://github.com/Juancams/rplidar_ros.git
	branch = ros2
[submodule "locobot_ws/src/ThirdParty/sophus"]
	path = locobot_ws/src/ThirdParty/sophus
	url = https://github.com/stonier/sophus.git
	branch = release/1.2.x
